In [4]:
import pandas as pd

Data Cleaning:

In [7]:
#import the data set
Tt=pd.read_csv("R:\\portfoli_projects\\Tatanic\\huge_1M_titanic.csv")
Tt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   PassengerId  1000000 non-null  int64
 1   Survived     1000000 non-null  int64
 2   Pclass       1000000 non-null  int64
 3   Name         1000000 non-null  object
 4   Sex          1000000 non-null  object
 5   Age          801400 non-null   float64
 6   SibSp        1000000 non-null  int64
 7   Parch        1000000 non-null  int64
 8   Ticket       1000000 non-null  object
 9   Fare         1000000 non-null  float64
 10  Cabin        229805 non-null   object
 11  Embarked     997760 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 91.6+ MB

In [8]:
#Are there any missing or null values in columns such as PassengerId, Pclass, Name, Sex, Age, SibSp, Parch, Fare, Embarked
tt=Tt
m=['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Cabin','Parch', 'Fare', 'Embarked']
tt[m].isna().sum()

tt.count()

PassengerId    1000000
Survived       1000000
Pclass         1000000
Name           1000000
Sex            1000000
Age             801400
SibSp          1000000
Parch          1000000
Ticket         1000000
Fare           1000000
Cabin           229805
Embarked        997760
dtype: int64

In [9]:



#impute missing values using the appropriate method (e.g., median for Age)
me=tt['Age'].median()
tt['Age'].fillna(me)
#impute missing values using the appropriate method (e.g.,  mode for Embarked)
mo=tt['Embarked'].mode().count()
tt['Embarked'].fillna(mo)

#OR
#drop missing values using the appropriate method 
tt.dropna(subset=['Age','Cabin','Embarked'],inplace=True)

tt[m].isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Cabin          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [10]:
#Check for duplicates 
k=tt.duplicated().count()
#remove them 
l=tt.drop_duplicates().count()
#Check for duplicates with, PassengerId ,Survived ,Pclass,Name, Ticket
dup=['PassengerId' ,'Survived' ,'Pclass','Name', 'Ticket']
tt[tt.duplicated(subset=['PassengerId' ,'Survived' ,'Pclass','Name', 'Ticket'], keep=False)]

# Remove duplicates
k=tt.drop_duplicates(subset=['PassengerId' ,'Survived' ,'Pclass','Name', 'Ticket'], keep='first', inplace=True)

In [11]:


#Are there any unrealistic values
tt['Age'] = pd.to_numeric(tt['Age'], errors='coerce')

tt['PassengerId'] = pd.to_numeric(tt['PassengerId'], errors='coerce')

In [12]:

# Replace unrealistic Age values (negative or >100) with the median age
median_age = tt['Age'].median()  # Calculate median once
tt.loc[(tt['Age'] < 0) | (tt['Age'] > 100), 'Age'] = median_age

In [13]:

#  Trim column names (remove spaces)
tt.columns = tt.columns.str.strip()

#  Handle negative 'Fare' values
median_fare = tt.loc[tt['Fare'] >= 0, 'Fare'].median()
tt.loc[tt['Fare'] < 0, 'Fare'] = median_fare

#  Convert data types if needed
tt['Age'] = tt['Age'].astype(int)  # Convert Age to int
tt['Fare'] = tt['Fare'].astype(float)  # Ensure Fare is float

#  Drop unnecessary columns (if needed)
tt.drop(columns=['Cabin'], inplace=True)  # Example of dropping a column
tt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183584 entries, 2 to 999998
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   PassengerId  183584 non-null  int64
 1   Survived     183584 non-null  int64
 2   Pclass       183584 non-null  int64
 3   Name         183584 non-null  object
 4   Sex          183584 non-null  object
 5   Age          183584 non-null  int32
 6   SibSp        183584 non-null  int64
 7   Parch        183584 non-null  int64
 8   Ticket       183584 non-null  object
 9   Fare         183584 non-null  float64
 10  Embarked     183584 non-null  object
dtypes: float64(1), int32(1), int64(5), object(4)
memory usage: 16.1+ MB

In [14]:
#creating csv file store this cleaned data
tt.to_csv("Data-cleaning-on-titanic.csv",index=True)